.hidden {
  visibility: false;
}

#appian-task-list-container {
  border-left: 1px solid #dfdfdf;
}

.nl-gtaskList-parent-container {
  width: 100%;
}

.nl-gtaskList-parent-container #view-permission-label {
  width: 100%;
}

.nl-gtaskList-container {
  font-family: sans-serif;
  font-size: 10px;
  padding: 18px 20px;
  min-width: 740px;
  float: none;
  display: block;
  clear: none;
  overflow: visible;
}

.nl-gtaskList-container .appian-form-title {
  /* Font & Text */
  font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 28px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-indent: 0px;
  text-transform: uppercase;
  /*vertical-align: baseline;*/
  overflow: visible;
  display: block;
}

.nl-gtaskList-container .appian-form-instructions {
  font-family: sans-serif;
  color: #555;
  font-size: 13px;
  font-weight: bold;
  line-height: 15px;
  margin: 5px 0px 14px;
  padding: 0px;
}

.nl-gtaskList-table-container {
  font-family: sans-serif;
  font-size: 10px;
  margin: 0px 0px 8px;
  padding: 0px;
  position: relative;
  display: table;
}

.nl-gtaskList-table-container table {
  width: 100%;
  background-color: white;
  padding: 0;
  font-family: Sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: normal;
  line-height: 13px;
  border: 1px solid #e9e9e9;
  border-collapse: collapse;
  border-spacing: 0px 0px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  empty-cells: show;
  /*table-layout: auto;*/
  overflow: visible;
  cursor: auto;
}

.nl-gtaskList-table-container th {
  font-family: sans-serif;
  font-size: 13px;
  font-weight: bold;
  line-height: 13px;
  text-align: left;
  color: rgb(51, 51, 51);
  border-top: 1px solid rgb(233, 233, 233);
  border-left: 1px solid rgb(233, 233, 233);
  border-right: 0px none rgb(51, 51, 51);
  border-bottom: 0px none rgb(51, 51, 51);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin: 0px;
  padding: 9px 8px 8px;
  min-height: 20px;
  display: table-cell;
  border-collapse: collapse;
  border-spacing: 0px 0px;
  overflow: visible;
}

.nl-gtaskList-table-container td {
  font-family: sans-serif;
  font-size: 13px;
  line-height: 13px;
  text-align: left;
  color: rgb(51, 51, 51);
  border-top: 1px solid rgb(233, 233, 233);
  border-left: 1px solid rgb(233, 233, 233);
  border-right: 0px none rgb(51, 51, 51);
  border-bottom: 0px none rgb(51, 51, 51);
  margin: 0px;
  padding: 9px 8px 8px;
  min-height: 20px;
  display: table-cell;
  border-collapse: collapse;
  border-spacing: 0px 0px;
  overflow: visible;
}

.nl-gtaskList-table-container tr:nth-child(odd) td {
  background-color: #f7f7f7;
}

.nl-gtaskList-table-container tr:hover td {
  background-color: #e7f2f7;
}

/* -------------------- Center Focus UIs -------------------- */

#center-focus-outer-container {
  width: 100%;
  margin-top: 100px;
}

#center-focus-inner-container {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 8px;
  background-color: #f1f1f1;
  border: 1px solid grey;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

.center-focus-title {
  /* Font & Text */
  font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 28px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-indent: 0px;
  overflow: visible;
  display: block;
}

#need-auth-button-container {
  text-align: center;
}

#task-refresh-link {
  margin-left: auto;
  margin-right: auto;
}

#input-appian-url-text {
  width: 350px;
}

/* -------------------- General Styles -------------------- */

.nl-gtaskList-parent-container a {
  text-decoration: none;
  color: #285fab;
  font-family: sans-serif;
  font-size: 13px;
  line-height: 13px;
  margin-right: 5px;
}

.nl-gtaskList-parent-container a:hover {
  color: #ee6615;
}

a:hover {
  text-decoration: none;
}