<div id="appian-task-list-container" class="nl-gtaskList-container">
	<div class="row">
		<div class="col-xs-12">
			<h1 class="appian-form-title">{{title}}</h1>
			<p class="appian-form-instructions">{{instructions}}</p>
			<a href="#appian/tasks/assignedtome" class="task-refresh-link">Refresh</a>
			<a href="#appian/tasks/assignedtome" class="set-environment-link">Set Environment</a>
		</div>
	</div>

	<section>	
		<div class="row">
			<div id="appian-task-list-target" class="col-xs-12">
			</div>
		</div>
	</section>

</div>