<div id="appian-task-list-container" class="container nl-gtaskList-container">
	<div class="row">
		<div class="col-xs-12">
			<h1 class="appian-form-title">{{title}}</h1>
			<p class="appian-form-instructions">{{instructions}}</p>
			<a href="#" class="task-refresh-link">Refresh</a>
		</div>
	</div>
	<div class="row">
		<div id="appian-task-list-target" class="col-xs-12">
		</div>
	</div>
</div>





<div class="row nl-gtaskList-parent-container">
	<div id="appian-task-list-target2" class="col-xs-12 nl-gtaskList-container nl-gtaskList-table-container ">
	</div>
</div>