<div id="center-focus-outer-container">
  <div id="center-focus-inner-container">
    <h2 class="center-focus-title" >Uh oh, something isn't right   :-(</h2>
    <p class="appian-form-instructions">
      Double check that you setup the Chrome Extension correctly, make sure you're using the correct Appian URL, and check that your Appian environment is online.
    </p>
    <p class="appian-form-instructions">
      If you're still having trouble, please open an issue in the <a href="https://github.com/corbinpage/appian-tasks-in-chrome-gmail/issues" target="_blank">Github Repo</a>or feel free to reach out to <a href="https://twitter.com/corbpage" target="_blank">@corbpage</a>on Twitter.
    </p>
  </div>
</div>