<div id="center-focus-outer-container">
  <div id="center-focus-inner-container">
    <h2 class="center-focus-title" >Enter your Appian URL</h2>
    <p class="appian-form-instructions">Please enter your Appian URL. The link should begin with "http" or "https" and end with "suite/", for example "https://forum.appian.com/suite/".</p>
    <div id="input-appian-button-container">
      <form>
        <input id="input-appian-url-text" class="center" type="text" placeholder="Appian URL">
        <input id="input-appian-url-button" class="center" type="button" value="Submit">
      </form>
    </div>
  </div>
</div>