	<section id="input-environment" class="container hidden">
		<div id="center-focus-outer-container">
			<div id="center-focus-inner-container">
				<h2 class="center-focus-title" >Enter your Appian URL</h2>
				<p class="appian-form-instructions">Please enter your Appian URL. The link should begin with "http" or "https" and end with "suite/", for example "https://forum.appian.com/suite/".</p>
				<form class="form-inline">
					<div class="form-group">
						<input type="text" class="form-control" id="env-base" placeholder="https://www.example.com/suite/">
					</div>
					<button type="button" id="validate-env-base" class="btn btn-default">Validate</button>
					<button type="button" id="save-env-base" class="btn btn-success disabled">Save</button>
				</form>
			</div>
		</div>
	</section>