<div id="center-focus-outer-container">
  <div id="center-focus-inner-container">
    <h2 class="center-focus-title" >Sign in to Appian</h2>
    <p class="appian-form-instructions">Use the link below to log into your Appian environment in a separate tab and then click Refresh to view your task list in Gmail.</p>
    <div id="need-auth-button-container">
      <a href="#" target="_blank" id="need-auth-link" class="center">Go to Appian</a>
      <input id="need-auth-button-refresh" class="center" type="button" value="Refresh">
    </div>
  </div>
</div>