<section id="general-error" class="container">
	<div id="center-focus-outer-container">
		<div id="center-focus-inner-container">
		<h2 class="center-focus-title" >Please sign in to Appian</h2>
			<p class="appian-form-instructions">Use the link below to log into your Appian environment and then Refresh to view your task list in Gmail.</p>
			<div id="need-auth-button-container">
				<a href="{{taskLinkRoute}}" target="_blank" id="need-auth-link" class="center">Go to Appian</a>
			</div>
		</div>
	</div>
</section>