<div class="row">
<div class="col-xs-12">
		<h1 class="appian-form-title">{{title}}</h1>
		<p class="appian-form-instructions">{{instructions}}</p>
		<div id="nl-gtaskList-container" class="nl-gtaskList-container">
			<div id="nl-gtaskList-table-container" class="nl-gtaskList-table-container">
				<table>
					<thead>
						<tr>
							{{#data.columnLabels}}
							<th>{{.}}</th>
							{{/data.columnLabels}}
						</tr>
					</thead>
					<tbody>
						{{#data.displayTasks}}
						<tr>
							<td><a href="{{data.taskLinkRoute}}{{taskId}}" target="_blank">{{name}}</a></td>
							<td>{{startTime}}</td>
							<td>{{assigneesOwners}}</td>
							<td>{{status}}</td>
							<td>{{process}}</td>
						</tr>
						{{/data.displayTasks}}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>