<div id="nl-gtaskList-container" class="nl-gtaskList-container">
	<div id="nl-gtaskList-table-container" class="nl-gtaskList-table-container">
		{{#totalCount}}
		<table>
			<thead>
				<tr>
					{{#columnLabels}}
					<th>{{.}}</th>
					{{/columnLabels}}
				</tr>
			</thead>
			<tbody>
				{{/totalCount}}
				{{#displayTasks}}
				<tr>
					<td><a href="{{taskLinkRoute}}{{taskId}}" target="_blank">{{name}}</a></td>
					<td>{{startTime}}</td>
					<td>{{assigneesOwners}}</td>
					<td>{{status}}</td>
					<td>{{process}}</td>
				</tr>
				{{/displayTasks}}
				{{#totalCount}}
			</tbody>
		</table>
		{{/totalCount}}
		{{^displayTasks}}
		<div>
			<p>No tasks in your task list. :-)</p>
		</div>
		{{/displayTasks}}
	</div>
</div>